[build]
  command = "cd quiz-app-fullstack/client && npm install && npm run build"
  publish = "quiz-app-fullstack/client/dist"
  functions = "quiz-app-fullstack/server"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
